* text=auto
*.HH linguist-language=HolyC
*.HC linguist-language=HolyC
vendor/** linguist-vendored
cmake/** linguist-vendored
T/Community/blazeitfgt2/** linguist-vendored
T/Community/blazeitfgt/** linguist-vendored
T/Community/DigGaym/** linguist-vendored
